header{
    overflow: hidden;
    text-transform: uppercase;
    margin-bottom: 10px;
    background-color: rgb(43, 42, 42);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: 5px;

}
nav>ul>li{
     display: inline-block;
    pad:100px 3px;
     font-size: 15px;

}

nav>ul>li>a{
     color: white; 
    text-decoration: none;
}
nav>ul>li:hover{
    background-color:rgb(134, 128, 128);
}
.bottom{
    position: absolute;
    top: 40px;
    border-bottom: 5px solid;
    border-top: 5px solid;
    height: 150px;
    width:500px ;
    margin-top: 190px;
    margin-left: 400px;
}
.up{
    position: absolute;
    top: 80px;
    border-right:5px solid ;
    border-left: 5px solid;
    width: 150px;
    height: 500px;
    margin-left:560px;
}
.boody{
    background-color: rgb(85, 63, 85);
}